* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body,
html {
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  color: #ededed;
  background-color: #0a0a0aee;
}

/* ----------------------------------------------------- */
/* Main layout */

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 20px;

  width: 90vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: top;
  align-items: center;

  background-color: rgba(21, 37, 43, 0.466);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  gap: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  bottom: 0;
}

/* ----------------------------------------------------- */
/* Navbar */

.svg-icon {
  width: 32px;
  height: 32px;
}

.navbar-title {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 20px;
}

.navbar {
  color: #ffffff;
  background-color: #2a3238;
  width: inherit;
  position: fixed;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  z-index: 2;
}

.navbar .user-title {
  color: red;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}


.nav-links {
  color: #ffffff;
  font-size: 1.1rem;

  padding: 0.7rem 1rem;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.nav-links:hover {
  background-color: #1f6475;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.menu-icon {
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

/* Media Query for Burger Menu */
@media screen and (max-width: 1300px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    /* Hide the horizontal menu by default */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-menu.active {
    display: flex;
    /* Show the dropdown when the burger menu is clicked */
  }

  .nav-item {
    padding: 0.5rem 0;
  }

  .nav-item a {
    color: white;
    text-decoration: none;
  }
}

/* ----------------------------------------------------- */
/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  width: inherit !important;
  height: 500px !important;
}

.hero-text {
  z-index: 0;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}

.hero-text .hide {
  display: none;
}

@media screen and (max-width: 930px) {
  .hero-text h1 {
    padding: 10px 20px;
  }

  .hero-text p {
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
  }

  .hero-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1rem;
  }
}

/* ----------------------------------------------------- */
/* Information */

.information {
  margin: 4rem 6rem;
}

.information h1 {
  font-size: 3rem;
}

.first-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.first-info-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.info-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}

.info-text h2 {
  padding-bottom: 1rem;
}

.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;

}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image img:nth-child(2) {
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 930px) {
  .information {
    margin: 4rem 2rem;
  }

  .first-info {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .first-info-reverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }

  .info-text {
    width: 100%;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }

  .image img {
    height: 250px;
  }
}

/* ----------------------------------------------------- */
/* About */

.about-container {
  margin: 4rem 6rem;
  text-align: start;
}

.about-container h1 {
  padding-bottom: 1rem;
}

.about-container p {
  padding-bottom: 2rem;
}

/* ----------------------------------------------------- */
/* Contacts */

.form-container {
  text-align: center;
}

.form-container form {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.form-container input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.form-container textarea {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #2a2a2a;
  outline: none;
}

.form-container button {
  border: none;
  height: 50px;
  border-radius: 12px;
  background-color: #1f6475;
  color: #ededed;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ----------------------------------------------------- */
/* Topics */

.topics {
  max-width: inherit;
  margin: 1rem 2rem;
  color: #ededed;
}

.topics h1 {
  font-size: 3rem;
}

.topic-card {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.t-card {
  width: 32%;
  height: 500px;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.2);
  background-color: #181f20;
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem 0.8rem;
  overflow: scroll;
  scrollbar-width: none;
}

.t-image {
  height: 300px;
  overflow: hidden;
  border-radius: 7px;
}

.t-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.t-image:hover img {
  transform: scale(1.3);
}

.t-card h4 {
  font-size: 1.5rem;
  padding: 0.9rem 0 0.2rem 0;
}

@media screen and (max-width: 1250px) {
  .topic-card {
    flex-direction: column;
    align-items: center;
  }

  .t-card {
    width: 100%;
    height: fit-content;
  }
}

/* ----------------------------------------------------- */
/* Bubble Sort*/
/* Bubblesort  */

.bubblesort-information {
  max-width: inherit;
  word-wrap: break-word;

  padding: 20px;

  h1 {
    margin: 20px 0;
  }

  p,
  li {
    font-size: 1.3rem;
  }

  .code {
    background-color: black;
    color: yellow;
    border-radius: 8px;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

/* Card */

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flip {
  position: relative;
  width: 350px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  perspective: 1000px;
}

.flip .front,
.flip .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #313131;
  backface-visibility: hidden;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s;
}

.flip .front {
  transform: rotateY(0deg);
}

.flip .back {
  word-wrap: break-word;
  transform: rotateY(-180deg);
  opacity: 0;
}

.flip:hover .front {
  transform: rotateY(180deg);
}

.flip:hover .back {
  transform: rotateY(0deg);
  opacity: 1;
}

/* ----------------------------------------------------- */
/* Quiz*/

.quiz-group-container {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  width: 450px;
  height: 550px;

  margin-top: 20px;
  margin-bottom: 50px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);

  .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #acc2ef;
  }

  .total-question {
    font-size: 24px;
    font-weight: 500;
    color: #3d5a80;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  ul {
    margin-top: 20px;

    li {
      text-decoration: none;
      list-style: none;
      color: #1d1c1c;
      font-size: 18px;
      font-weight: 500;
      border: 3px solid#71c4ef;
      border-radius: 16px;
      padding: 11px;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .selected-answer {
      background: #313d44;
      border: 1px solid #cccbc8;
      color: white;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    }
  }

  button {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;

    &:disabled {
      background: #cccbc8;
      color: #abacad;
      cursor: not-allowed;
    }
  }

  input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 2rem;
  }

  .result {
    text-align: center;

    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 20px auto;

      span {
        color: #acc2ef;
        font-size: 22px;
      }
    }
  }
}


/* ----------------------------------------------------- */
/* Visualizer */

.sorting {
  max-width: 1200px;
  width: inherit;
  height: fit-content;

  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 18px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);

  .navbar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.233);

    margin-bottom: 10px;

    .sliderContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      label {
        font-size: 18px;
        color: black;
        font-weight: bold;
      }

      .slider {
        width: 100%;
      }

      * {
        width: 50%;
      }

      .size,
      .speed {
        padding: 20px;
      }

    }

    .buttons {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;

      button {
        padding: 20px;
        font-size: 1rem;
        color: #000000;
        background-color: #d5ea5f;
        border-radius: 20px;
        border: none;
        font-weight: bold;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          background-color: #788650;
        }
      }

      .generate {
        background-color: rgb(252, 191, 134);

        &:hover {
          background-color: #1b9aa8c6;
        }
      }
    }

    @media screen and (max-width: 500px) {
      .buttons {
        flex-direction: column;
      }
    }
  }

  .heading {
    color: #000;
    font-weight: 900;
    font-size: 2rem;
  }

  .main {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: last baseline;
    justify-content: center;

    .arrayBar {
      background-color: gray;
      border-radius: 4px 4px 0 0;
    }
  }

  .arrayBar {
    transition: all 70ms ease-out;
  }
}

/* ----------------------------------------------------- */
/* Chatbot */

.chatbot-container {
  position: relative;

  width: 800px;
  height: 700px;
  margin: 20px 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);

  .cs-main-container {
    border-radius: 20px !important;
    font-size: 1.2rem;
  }

  .cs-message-list__scroll-wrapper {
    padding-top: 20px;
  }

  .cs-button--attachment {
    display: none;
  }

  .cs-message-input__content-editor-wrapper {
    margin-left: 20px;
  }

  .cs-message__content {
    background-color: rgb(159, 249, 159);
    text-align: start;
  }
}

/* ----------------------------------------------------- */
/* Login */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input,
.login-form button {
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 8px;
}

.login-form button {
  background-color: rgb(187, 187, 207);
}

.login-form button:hover {
  cursor: pointer;
  filter: brightness(0.7);
  transition: all ease-in-out 0.3s;
}

/* ----------------------------------------------------- */
/* Blogs */

.blogs-container {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.blogs-container a,
.blogs-container a:hover,
.blogs-container a:focus,
.blogs-container a:active {
  color: inherit;
  text-decoration: none;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 250px;

  background-color: #1d1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.25);
}

.post-container:hover {
  transition: all ease-in-out 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.blog-function-container {
  width: inherit;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.search-post {
  width: 50%;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  outline: none;
}

.create {
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(110, 180, 110);
  font-size: 1.2rem;
}

.create:hover {
  cursor: pointer;
  filter: brightness(0.7);
  transition: all ease-in-out 0.3s;
}

/* ----------------------------------------------------- */
/* Create */

.create-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 800px;
  font-size: 1.5rem;
}

.create-form textarea,
.create-form input {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 8px;
}

.create-form button {
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 5px;
  background-color: rgb(85, 148, 85);
}

.create-form button:hover {
  cursor: pointer;
  filter: brightness(0.7);
  transition: all ease-in-out 0.3s;
}

/* ----------------------------------------------------- */
/* Edit & Post Page */

.post-page-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 800px;
  font-size: 1.5rem;
}

.post-page-container textarea,
.post-page-container input {
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 8px;
}

.post-page-container button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: grey;
  font-size: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-page-container button:hover {
  cursor: pointer;
  background-color: rgba(141, 135, 135, 0.1);
  transition: all ease-in-out 0.3s;
}